{% extends 'base_generic.html' %}
{% block content %}
<!-- market section start -->
      <div class="market_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="market_taital">Market Research Reports</h1>
               </div>
            </div>
            <div class="market_section_2">
               <h4 class="market_text active"><span class="padding10">We are software company and our main mision is creating websites fo our customer to open thier way to success. </span></h4>
               <h4 class="market_text"><span class="padding10">we will help you to have your e-store website for you busniess or a website for your company or for yourself </span></h4>
               <h4 class="market_text"><span class="padding10">contact us and have your website now!!! </span></h4>
            </div>
            <div class="seemore_bt"><a href="{% url 'contact' %}">Contact us</a></div>
         </div>
      </div>
      <!-- market section end -->
{% endblock content %}