{% extends 'base.html' %}
  {% block body %}
  <section class="h-100 h-custom" style="background-color: #8fc4b7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">add service</h3>
  
              <div class="login-wrapper my-auto">
                <form method="post" enctype="multipart/form-data">  
                  {% csrf_token %}
                  {% for field in form.visible_fields %}
                    <div class="form-control">
                      {{ field.label_tag }}
                      {{ field }}
                    </div>
                  {% endfor %}
                  <input name="add_product" id="add_product" class="btn btn-default btn-lg" type="submit" value="Add">
                </form>
                      
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    
  {% endblock %}       