{% extends 'base_generic.html' %}
{% block content %}
<!-- header section end -->
      <!-- contact section start -->
      <div class="contact_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="contact_taital">Contact Us</h1> 
                  <p class="contact_text">You desieded to contact us, That made us so happy  </p>
                  <br>
                  <h5>Email: {{myinfo.email}}</h5>
                  <h5>Phone: {{myinfo.phone}}</h5>

               </div>
            </div>      
            <div class="contact_section_2">

               <div class="row">
                  <div class="col-md-12 padding15">
                     <form method="post">
                      {% csrf_token %}
                        <div class="mail_section_1 ">
                           <div class="form-group">
                              <label for="email">Email</label>
                              <input type="email" name='Email'id="Email" class="form-control" placeholder="Your email address">
                           </div>
                           <div class="form-group">
                              <label for="subject">Subject</label>
                              <input type="text" name='Subject'id="Subject" class="form-control" placeholder="Subject">
                           </div>
                           <div class="form-group">
                              <label for="Message">Message</label>
                              <textarea name="Message" id="Message" cols="30" rows="5" class="form-control" placeholder="Say something about us"></textarea>

                           </div>

                           <div class="form-group">
                              <input type="submit" value="Send Message" class="btn">
                           </div>

                        </div>
                     </form>

                     
                  </div>
               </div>
            </div>
         </div>
      <!-- contact section end -->
{% endblock content %}